<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pulloware.zenon">
    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".presentation.AlertStartNoUI"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:noHistory="true"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentation.Main"
                  android:exported="true">
        </activity>
        <service android:name=".infrastructure.AlertService"
                 android:description="@string/app_name"
                 android:exported="false">
        </service>
    </application>
</manifest>
